body{
    font-size: 12pt;
    color: #000000;
}

td {
    vertical-align: top;
    font-size: 12pt;
}

table.center {
    margin-left: auto;
    margin-right: auto;
  }

#wrapper {
    width: 40%;     /* specify a width! */
    margin: 0 auto; /* center */
  }

@media (max-width: 1600px) {
    #wrapper {
        width: 90%;     /* specify a width! */
        margin: 0 auto; /* center */
      }
    
}
