body{
    font-size: 12pt;
    color: #000000;
}

td {
    vertical-align: top;
    font-size: 12pt;
}

table.center {
    margin-left: auto;
    margin-right: auto;
  }

#wrapper {
    background-color: rgb(255, 250, 250);
    overflow:   hidden;
    border-style: solid;
    border-width: medium;
    border-color: rgb(245, 169, 184);
    width: 60%;     /* specify a width! */
    margin: 0 auto; /* center */
  }

@media (max-width: 1000px) {
    #wrapper {
        background-color: rgb(255, 250, 250);
        border-style: solid;
        border-width: medium;
        border-color: rgb(245, 169, 184);
        overflow:   hidden;
        width: 90%;     /* specify a width! */
        margin: 0 auto; /* center */
      }
    
    body{
        font-size: 18pt;
        color: #000000;
    }

    td {
        vertical-align: top;
        font-size: 18pt;
    }
}
